@tailwind base;
@tailwind components;
@tailwind utilities;
@radix-ui /themes/styles.css;

body {
  background-color: rgb(18 21 29 / 1);
  color: hsl(0 0% 98%);
}
@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-hovered: 240 10% 6.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 211 61% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --error-label: 0 92.2% 64.9%;

    --ring: 240 3.7% 15.9%;

    --difficulty-beginner: 201 96% 32%;
    --difficulty-easy: 150 100% 25%;
    --difficulty-medium: 35 92% 33%;
    --difficulty-hard: 0 72% 51%;
    --difficulty-extreme: 262 83% 58%;

    --difficulty-beginner-dark: 199 69% 72%;
    --difficulty-easy-dark: 142 77% 73%;
    --difficulty-medium-dark: 31 86% 60%;
    --difficulty-hard-dark: 0 91% 71%;
    --difficulty-extreme-dark: 269 97% 85%;
  }
}
.codeEditorWindow {
  transform: rotateY(-10deg);
}

.codeEditorWindow:hover {
  transform: rotateY(0deg);
}
.showcase {
  transform: rotateX(30deg);
}
.perspectiveCustom {
  perspective: 800px;
}
.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}
::-webkit-scrollbar {
  display: none;
}
.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}
